body, ul{
    margin: 0;
    padding: 0;
    font-family: PT Sans;
}
.header{
    height: 90px;
    background-color: #202846;
    padding: 10px 138px;
    box-sizing: border-box;
}
.logo{
    background-image: url("../img/logo.png");
    height: 70px;
    width: 178.45px;
    float: left;
}
.nav{
    float: right;
}
.nav>div{
    float: right;
    width: 213.2px;
    height: 70px;
    padding: 20px 0;
    box-sizing: border-box;
    border-right: 2px solid rgba(255, 255, 255,.5);
    text-align: center;
}
.nav>div:first-child{
    padding: 5px 0;
}
.nav>div>a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    padding: 20px 0;
    box-sizing: border-box;
}
.lang>div{
    float: right;
}
.lang>div>a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    padding: 20px 0;
    box-sizing: border-box;
}

.lang{
    float:right;
}
.title_header{
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    background-color: #C6C6DC;
    height: 140px;
    padding: 30px 227px;
    box-sizing: border-box;
}
.content_box{
    margin: 185px auto;
    width: 1489px;
}
.card{
    background-color: #BDBDC6;
    position: relative;
    height: 300px;
    padding: 28px 103px;
    margin-bottom: 36px;
    box-sizing: border-box;
}
.card_img1{
    background-image: url("../img/image\ 5.png");
    height: 244px;
    width: 485px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 102px;
}
.card_img2{
    background-image: url("../img/image\ 4.png");
    height: 244px;
    width: 485px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 102px;
}
.card_img3{
    background-image: url("../img/image\ 6.png");
    height: 244px;
    width: 485px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 102px;
}
.card_img4{
    background-image: url("../img/image\ 7.png");
    height: 244px;
    width: 485px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 102px;
}
.card_title{
float: left;
width: 696px;
}
.title{
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 46.58px;
    color: #353C57;
    border-bottom: 2px solid #fff;
}
.title_content{
    background-color: #D7D7DD;
    height: 184px;
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 22px;
    line-height: 28.47px;
    text-align: center;
}
.more{
    height: 60px;
    width: 200px;
    background-color: #202846;
    position: absolute;
    right: -50px;
    bottom: 10px;
    color: #fff;
    border-radius: 30px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}
.star{
    position: absolute;
    right: 30px;
}
.star_svg{
    fill: #fff;
}
.card:hover .star_svg{
    fill: #ff0;
}
.up{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    padding: 25px 38px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.footer{
    background-color: #202846;
    color: #fff;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    padding: 20px 60px;
}



