body{
    margin: 0;
    padding: 0;
    background-color: #212529;
}
.hire_btn{
    background-color: #FFB742;
    padding: 12px 26px;
    border-radius: 50px;
    text-decoration: none;
    color: #000;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    box-sizing: border-box;
}
.header{
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav>ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.nav>ul>li{
    list-style: none;
}
.nav>ul>li>a{
    color: #fff;
    text-decoration: none;
    padding: 15px 12.5px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    box-sizing: border-box;
}
.nav>ul>li>a:hover{
    color: #FFB742;
    transition: all 0.4s;
    cursor: url(../img/pointer.png), auto;
}
/*Завершення секції header*/
.greetings{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 460px;
    color: #fff;
    margin: 108px 0;
}
.greetings div:nth-child(1){
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 50.75px;
}
.greetings div:nth-child(1) a{
    color: #FFB742;
}
.greetings div:nth-child(1) span{
    color: #FFB742;
}
.greetings div:nth-child(2){
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    line-height: 98.85px;
}
.greetings div:nth-child(3){
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 50.75px;
}
.avatar{
    background-image: url('../img/avataaars\ 1.png');
    background-repeat: no-repeat;
    width: 210px;
    height: 222.73px;
}
.card_box{
    display: flex;
    margin: 0 72px;
    justify-content: center;
}
.card{
    height: 120px;
    width: 416px;
    background-color: #292B2E;
    filter: drop-shadow(10px 10px 51px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: space-between;
    padding: 29px;
    margin: 0 12px;
    align-items: center;
    box-sizing: border-box;
}
.ico1{
    height: 64px;
    width: 64px;
    background-image: url('../img/Group\ 1.png');
    background-repeat: no-repeat;
}
.ico2{
    height: 64px;
    width: 64px;
    background-image: url('../img/Group\ 2.png');
    background-repeat: no-repeat;
}
.ico3{
    height: 64px;
    width: 64px;
    background-image: url('../img/Group\ 3.png');
    background-repeat: no-repeat;
}
.title_p1{
    color: #FFB742;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 40.33px;
    text-align: center;
}
.title_p2{
    color: #fff;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 30.88px;
    text-align: center;
}
.more{
    fill: #B3B3B3;
}
.card:hover{
    background-color: #FFB742;
    transition: all 0.4s;
    cursor: url(../img/pointer.png), auto;
}
.card:hover .title_p1{
    color:#000;
    transition: all 0.4s;
}
.card:hover .more{
    fill: #000;
    transition: all 0.4s;
}
.about_me{
    display: flex;
    justify-content: center;
    margin: 137px 72px;
}
.about_me_photo{
    height: 620px;
    width: 596.03px;
    background-image: url('../img/AboutMe.png');
    background-repeat: no-repeat;
}
.about_me_text{
    width: 682px;
}
.anchor{
    background-color: rgba(255, 255, 255, 0.08);
    color: #FFB742;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 25px;
    border-radius: 50px;
    box-sizing: border-box;
}
h2{
    color: #fff;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
}
.about_me_text>p{
    color: #fff;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 55px;
}
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.portfolio_header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.portfolio_nav>ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.portfolio_nav>ul>li{
    list-style: none;
}
.portfolio_nav>ul>li>a{
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    margin: 0 24px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    box-sizing: border-box;
}
.portfolio_nav>ul>li>a:hover{
    background-color: #FFB742;
    color: #000;
    transition: all 0.4s;
    cursor: url(../img/pointer.png), auto;
}
.portfolio_cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 819.5px;
    width: 1234px;
}
.pf_row{
    display: flex;
    justify-content: space-between;
}
.pf_card_r1{
    width: 390px;
    height: 495.71px;
}
.pf_card_r2{
    width: 390px;
    height: 292.5px;
}
.pf_img_r11{
    background-image: url('../img/PF1.png');
    background-repeat: no-repeat;
}
.pf_img_r12{
    background-image: url('../img/PF2.png');
    background-repeat: no-repeat;
}
.pf_img_r13{
    background-image: url('../img/PF3.png');
    background-repeat: no-repeat;
}
.pf_img_r21{
    background-image: url('../img/PF4.png');
    background-repeat: no-repeat;
}
.pf_img_r22{
    background-image: url('../img/PF5.png');
    background-repeat: no-repeat;
}
.pf_img_r23{
    background-image: url('../img/PF6.png');
    background-repeat: no-repeat;
}
.footer{
    margin: 115px 0 0;
    padding-top: 120px;
    height: 470px;
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.copyright>h2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #FFB742;
}
.copyright>p{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 32.38px;
    color: #fff;
}
h3{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 21.59px;
    line-height: 31.89px;
    color: #fff;
}
.footer_lnk{
    padding: 0;
    list-style: none;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 17.99px;
    line-height: 36.42px;
}
.footer_lnk>li>a{
    color: #7B7B7B;
    text-decoration: none;
    padding: 5px 15px 5px 0;
    box-sizing: border-box;
}
.footer_lnk>li>a:hover{
    color: #FFB742;
    transition: all 0.4s;
    cursor: url(../img/pointer.png), auto;
}
.news>p{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 17.99px;
    line-height: 36.42px;
    color: #7B7B7B;
}
