html{
    font-size: 12px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
    font-size: 1.2rem;
    background-color: #FFB084;
}
p.h1{
    font-weight: 700;
    font-size: 4rem;
    padding: 0;
    margin: 17px 0;
    text-align: center;
}
p.h3{
    font-weight: 700;
    font-size: 1.8rem;
    padding: 0;
    margin: 17px 0;
}
.green{
    color: #29A71E;
}
.red{
    color: #E13535;
}
.blue{
    color: #3675B0;
}
span.bold{
    font-weight: 700;
}
.usr_persona{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1em;
    min-width: 375px;
    max-width: 755px;

    margin: 0 auto;
    
}
.usr_persona>div{
    padding: 5%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 7px 7px 0 #000;

}
.avatar{
    display: block;
    margin: 0 auto;
    width: 45%;
}
.usr_persona>div:nth-child(1){
    grid-row: 1/4;
}
.usr_persona>div:nth-child(2){
    grid-column: 2/4;
}
.usr_persona>div:nth-child(3){
    box-shadow: 7px 7px 0 #29A71E;
}
.usr_persona>div:nth-child(4){
    grid-row: 2/4;
    grid-column: 3/4;
    box-shadow: 7px 7px 0 #E13535;
}
.usr_persona>div:nth-child(5){
    grid-row: 3/5;
    box-shadow: 7px 7px 0 #3675B0;
}
.usr_persona>div:nth-child(6)>p{
    margin: 11% 0;
}
.usr_persona>div:nth-child(7)>ul{
    list-style: none;
    padding: 0;
}