body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}
.nav{
    width: 70px;
    height: 100vh;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 0px 0px #DEDEDE;
    position: fixed;
    overflow: hidden;
    background-color: #fff;
 
}
.nav:hover{
    width: 250px;
    transition: .5s;

}
.nav:hover .more_btn{
    transform: rotate(0.5turn);
    transition: 1s linear;
    
}
.nav p{
    margin: 0;
    padding: 0;
} 
.usr{
    background-color: white;
    height: 5vh;
    display: flex;
    margin-bottom: 15px;
    position: relative;
}
.more_btn{
    position: absolute;
    background-color: #4A49CB;
    right: -33px;
    width: 25px;
    height: 25px;
    padding: 2px 8px;
    box-sizing: border-box;
    border-radius: 50%;
    

}
.avatar{
    padding: 13px;
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #4A49CB;
    color: #fff;
}
.avatar+div{
    padding: 0 11px;
    box-sizing: border-box;
}
.avatar+div>p:nth-of-type(1){
    font-weight: 700;
    font-size: 1rem;
}
.avatar+div>p:nth-of-type(2){
    font-weight: 400;
    font-size: 0.875rem;
    color: #7C7C7A;
}
input[type="search"]{
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    background-image: url("../img/Icon_search.png");
    background-repeat: no-repeat;
    background-position: 10px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
}
input[type="search"]::placeholder{
    font-weight: 600;
    font-size: 1rem;
}
.nav ul a{
    text-decoration: none;
    color: #7C7C7A;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px;
    padding-left: 0;
    padding-right: 50px;
}
.nav ul a:hover{
    color: #000;
    transition: .5s;
}
.nav ul{
    list-style: none;    
    padding: 0%;
}
.nav ul>li{
    padding: 10px 0;
    white-space: nowrap;
}
.nav ul>li::before{
    padding-right: 21px;
    padding-left: 10px;
}
.nav ul>li:nth-of-type(1)::before{
    content: url("../img/Icon_Dashboard.svg");
}
.nav ul>li:nth-of-type(2)::before{
    content: url("../img/Icon_Revenue.svg");
}
.nav ul>li:nth-of-type(3)::before{
    content: url("../img/Icon_Notification.svg");
}
.nav ul>li:nth-of-type(4)::before{
    content: url("../img/Icon_Analytics.svg");
}
.nav ul>li:nth-of-type(5)::before{
    content: url("../img/Icon_Inventory.svg"); 
}
.nav ul>li:nth-last-of-type(1):before{
    content: url("../img/Icon_Darkmode.svg");
}
.nav ul>li:nth-last-of-type(2):before{
    content: url("../img/Icon_Logout.svg");
}