.main_box{
    height: 512px;
    width: 512px;
    background-color: #FFCE22;
    display: inline-block;
    margin: 10px;
}
.main_blackbox{
    height: 512px;
    width: 512px;
    background-color: #000;
    display: inline-block;
    margin: 10px;
}
.box_radius{
    border-radius: 256px;
    overflow: hidden;
}
.blue_box{
    height: 256px;
    background-color: #2137FC;
}
.glyph_center{
    background-image: url("../img/Glyph.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 512px;
}
.glyph_bottom{
    background-image: url("../img/Glyph.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 256px;
}
.group_left{
    background-image: url("../img/Group.png");
    background-position: left;
    background-repeat: no-repeat;
    height: 512px;
}
.group_center{
    background-image: url("../img/Group.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 512px;
}
.plane_rightbottom{
    background-image: url("../img/Plane.png");
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    height: 512px;
}
.plane_center{
    background-image: url("../img/Plane.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 512px;
}
.vector_center{
    background-image: url("../img/Vector.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 512px;
}
.vector_onblack{
    background-image: url("../img/Vector.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 182px;
    margin-top: 165px;
}
.flag_center{
    background-image: url("../img/Flag.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    margin-top: 32px;
}
.flag_left{
    background-image: url(../img/Flag.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 60px;
    width: 466px;
    margin: 23px 0 -83px 23px;
}
.flag_right{
    background-image: url(../img/Flag.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 60px;
    width: 466px;
    margin: 23px 0 -83px 23px;
}