body{
    margin: 0;
    font-family: 'Inika';
}
a{
    text-decoration: none;
}
.h1{
    margin: 70px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 62.92px;
}   
.line{
    width: 402px;
    border-bottom: 5px solid #3E45E8;
}
.line__center{
    margin: 0 auto;
}
.header{
    min-height: 50px;
    max-height: 110px;
    text-align: center;
    color: #3E45E8;
    font-size: 48px;
    font-family: 'M PLUS 1', sans-serif;
    padding: 31px 0;
}
.header-span{
    color: #E8C23E; 
}
.sobor{
    height: 803px;
    background-image: url("../img/sobor.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 195px 0 0 5%;
    box-sizing: border-box;
}
.content{
    height: 272px;
    width: 70%;
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    font-family: 'Inika';
    font-weight: 700;
    font-size: 48px;
    line-height: 150.3%;
    color: #fff;
    padding: 0 0 0 2%;
    box-sizing: border-box;
}
.main{
    margin: 0 80px;
}
.map__block{
    width: 812px;
    margin: 0 auto;
    text-align: center;
}
.card{
    width: 500px;
    display: inline-block;
    vertical-align: top;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 4px 57px 3px rgba(0, 0, 0, 0.25);
}
.card__img{
    width: 100%;
}
.card__title{
    font-size: 24px;
    font-weight: 700;
    color: #1E8DF2;
    padding: 15px;
}
.card__subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    padding: 15px;
}
.margin{
    margin: 0 5%;
}
.map_ukr{
    background-image: url("../img/map_ukr.png");
    height: 537px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}
.support_link{
    padding: 5px 80px;
    background-color: #2A61F0;
    font-weight: 700;
    font-size: 64px;
    color: #fff;
    line-height: 100.67px;
}
.footer{
    height: 320px;
    background-color: #2F4A4B;
    text-align: center;
    font-family:'M PLUS 1', sans-serif;
    font-size: 48px;
    color: #3E45E8;
    margin-top: 20px;
}
.link__footer{
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #A89D9D;
}
.img__social{
    width: 64px;
}