body{
    background-color: #ECECEC;
    font-family: 'Montserrat';
}
.card-title{
    font-weight: 500;
    font-size: 1.125rem;
}
.card-text{
    font-weight: 500;
    font-size: 0.625rem;
    color: #A1A1A1;
}
.card-price{
    font-weight: 500;
    font-size: 1.125rem;
    display: flex;
    justify-content: space-between;
}
.card:hover svg{
    fill: #69A042;
}
.card:hover svg>path{
    stroke: #69A042;
}
.card-body{
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
}
.btn-primary_anima{
    position: absolute;
    bottom: -42px;
    background-color: #FF6C01;
    border: none;
}
.btn-primary_anima:hover{
    background-color: #ff8833;
}
.btn-primary_anima:focus{
    background-color: #ff8833;
    box-shadow: none;
}
.card:hover .btn-primary_anima{
    bottom: 12px;
    transition: .3s linear;
}
.col-margin{
    margin-bottom: 15px;
}
.h2-category{
    font-weight: 700;
    font-size: 1.5rem;
}
.inc-dec_number{
    background-color: #FF6C01;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 5px;
    border: none;
}
.card ul{
    padding-left: 19px;
}
.card ul>li{

}
.sticky-card{
    position: sticky;
    top: 0;
    padding-bottom: 10px;
}
.card-order_link{
    display: flex;
    justify-content: space-between;
    background-color: #FF6C01;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
    width: 77px;
}
.your-city_inpt{
    height: 50px;
    border: 2px solid #323232;
    background-image: url("../img/adress.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 2%;
    padding-left: 6%;
    box-sizing: border-box;
}
.header{
    background-color: #fff;
    border-bottom: 1px solid #C4C4C4;
}
.h1{
    font-weight: 800;

}
.placer{
    
    background-color: #fff;
}
.placer-row{
    height: 85px;
    margin-bottom: 25px;
}

.nav-link{
    color: #7B7B7B;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.125rem;
}
.nav-link:hover{
    color: #000;
    background-color: #C4C4C4;
    transition: .3s;
}
.nav-link:focus{
    background-color: #C4C4C4;
    color: #000;
}
.active{
    background-color: #C4C4C4;
    color: #000;
}
.about-us{
    background-color: #fff;
    padding: 3%;
    box-sizing: border-box;
}
.about-us>p{
    color: #999999;
    font-weight: 500;
    font-size: 0.875rem;
}
.about-us>p:nth-of-type(2n){
    color: #000;
    font-size: 1rem;
}
.footer{
    background-color: #000;
    height: 100px;
}
.footer ul>li{
    list-style: none;
    display: inline;
}
.footer a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    padding: 8px;
}
.footer>.container,.row{
    height: 100%;
}
.up{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    position: fixed;
    bottom: 130px;
    left: 3%;
    background-color: #fff;
    padding-top: 12px;
}
.up>a{
    padding: 16px;
}
.login_btn{
    background-color: #EF781A;
    border: none;
}
.login_btn:hover{
    background-color: #EF781A;
}
.login_btn:focus{
    background-color: #EF781A;
    box-shadow: none;
}
.cart_btn{
    background-color: #00D008;
    border: none;
}
.cart_btn:hover{
    background-color: #00D008;
}
.cart_btn:focus{
    background-color: #00D008;
    box-shadow: none;
}