body{
    padding: 0;
    margin: 0;
    font-family: 'Public Sans';
    color: #171717;
}
section>div{
    max-width: 1000px;
    min-width: 700px;
    margin: 0 auto;
    background-color: #F9F9F9;
    padding: 64px 48px;
    box-sizing: border-box;
}
input[type="date"]{
    background-image: none;
}
h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 28.2px;
    margin-bottom: 79px;
}
h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 23.5px;
    margin: 32px 0;
}
input, select{
    height: 40px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    box-sizing: border-box;
}
input[type="checkbox"]{
    width: 24px;
    height: 24px;
}
section>div>div{
    border-bottom: 1px solid #D1D1D1;
}
section>div>div>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
}
.red_txt{
    color: #D83933;
}
.blue_inp_text{
    color: #0050D8;
}
section>div>div>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}
section>div>div>div>div{
    width: 48%;
    min-width: 286px;
}
section>div>div>div>div>p{
    margin: 8px 0;
}
option[value="none"]{
    color: #747474;
}
section>div>div:nth-last-child(1){
    padding: 16px 0;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    border: none;
}
input[type="button"]{
    background-color: #0050D8;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    padding: 9px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 69px;
}
input[type="date"]:disabled{
    background-image: url("../img/calendar-line.png");
    background-repeat: no-repeat;
    background-position: 97%;
}
::-webkit-calendar-picker-indicator{
    background-image: url("../img/calendar-line.png");
    width: 24px;
    height: 24px;
}
input[type="search"]{
    background-image: url("../img/search-line.png");
    background-repeat: no-repeat;
    background-position: 97%;
}
input[type="search"]:focus, input[type="search"]:not(:placeholder-shown){
    background-image: none;
}
.blue_search_plhdr::placeholder{
    color: #0050D8;
}
.chkbx-label{
    display: flex;
    align-items: center;
}
