body{
    padding: 0;
    margin: 0;
    font-family: "Rosario";
}
.h1{
    font-weight: 700;
    font-size: 96px;
    text-align: center;
    padding: 51px 0;
    box-sizing: border-box;
}
.h2{
    font-weight: 700;
    font-size: 64px;
    font-style: italic;
    text-align: center;
}
.header{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
   
}
.header>a{
    height: 8vh;
}
.header>a>img{
    height: 8vh;  
}
nav>ul{
    display: flex;
    justify-content: space-between;
    list-style: none; 
        
}
nav>ul>li>a{
    color: #fff;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    padding: 2vh 17px;
    box-sizing: border-box;
    text-decoration: none;
}
.antifix{
    height: 80px;
}
.gallery{
    position: relative;
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}
.gallery>div{
    width: 24%;
    height: 42vh;
    position: absolute;
    background-size: cover;
    border-radius: 35px;
}
.gallery>div:nth-of-type(1){
    background-image: url("../img/Rectangle\ 20.png");
    background-repeat: no-repeat;
    top: 71px;
    left: -465px; 
    animation: gallery_frame_1 1s forwards 1s;        
}
.gallery>div:nth-of-type(2){
    background-image: url("../img/Rectangle\ 22.png");
    background-repeat: no-repeat;
    top: 71px;
    left: 1920px; 
    animation: gallery_frame_2 1s forwards 1s;        
}
.gallery>div:nth-of-type(3){
    background-image: url("../img/Rectangle\ 25.png");
    background-repeat: no-repeat;
    top: 523px;
    left: -465px;        
    animation: gallery_frame_3 1s forwards 1s;
}
.gallery>div:nth-of-type(4){
    background-image: url("../img/Rectangle\ 23.png");
    background-repeat: no-repeat;
    top: 523px;
    left: 1920px;   
    animation: gallery_frame_4 1s forwards 1s;     
}

.gallery>div:nth-of-type(5){
    background-image: url("../img/Rectangle\ 21.png");
    background-repeat: no-repeat;
    width: 22%;
    height: 68%;
    top: 19%;
    left: -22%;  
    animation: gallery_frame_5 1s forwards 2s;   
}

.gallery>div:nth-of-type(6){
    background-image: url("../img/Rectangle\ 24.png");
    background-repeat: no-repeat;
    width: 22%;
    height: 68%;
    top: 19%;
    left: 100%;
    animation: gallery_frame_6 1s forwards 2s;
}
@keyframes gallery_frame_1 {
    from{        
        top: 8%;
        left: -26%;  
    }
    to{
        top: 8%;
        left: 26%;
    }
}
@keyframes gallery_frame_2 {
    from{        
        top: 8%;
        left: 100%;  
    }
    to{
        top:8%;
        left: 51%;
    }
}
@keyframes gallery_frame_3 {
    from{        
        top: 54%;
        left: -26%;  
    }
    to{
        top: 54%;
        left: 26%;
    }
}
@keyframes gallery_frame_4 {
    from{        
        top: 54%;
        left: 100%;  
    }
    to{
        top: 54%;
        left: 51%;
    }
}
@keyframes gallery_frame_5 {
    from{        
        top: 19%;
        left: -22%;
    }
    to{
        top: 19%;
        left: 2%;
    }
}
@keyframes gallery_frame_6 {
    from{        
        top: 19%;
        left: 100%;
    }
    to{
        top: 19%;
        left: 77%;
    }
}
.services{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    
}
.services>div:nth-of-type(1){
    width: 50%;
    height: 100vh;
    position: relative;

}
.services>div>div>img{
    display: block;
    width: 100%;
    
}
.services>div>div{
    font-weight: 700;
    font-style: italic;
    font-size: 4vh;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    
}
.services>div>div:nth-of-type(1){
    top: 15%;
    left: 8%;
    animation: services_frame_1 15s infinite linear;
}
.services>div>div:nth-of-type(2){
    top: 15%;
    left: 55%;
    animation: services_frame_2 15s infinite linear;
}
.services>div>div:nth-of-type(3){
    top: 58%;
    left: 8%;
    animation: services_frame_4 15s infinite linear;
}
.services>div>div:nth-of-type(4){
    top: 58%;
    left: 55%;
    animation: services_frame_3 15s infinite linear;
}
@keyframes services_frame_1 {
    from{        
        top: 15%;
        left: 8%;
    }
    25%{
        top: 15%;
        left: 55%; 
    }
    50%{
        top: 58%;
        left: 55%;
    }
    75%{
        top: 58%;
        left: 8%;
    }
    to{
        top: 15%;
        left: 8%;
    }
}
@keyframes services_frame_2 {
    from {
        top: 15%;
        left: 55%;
    }
    25% {
        top: 58%;
        left: 55%;
    }
    50% {
        top: 58%;
        left: 8%;
    }
    75% {
        top: 15%;
        left: 8%;
    }
    to {
        top: 15%;
        left: 55%;
    }
}
@keyframes services_frame_3 {
    from{        
        top: 58%;
        left: 55%;
    }
    25%{
        top: 58%;
        left: 8%;
    }
    50%{
        top: 15%;
        left: 8%;
    }
    75%{
        top: 15%;
        left: 55%;
    }
    to{
        top: 58%;
        left: 55%;
    }
}
@keyframes services_frame_4 {
    from{        
        top: 58%;
        left: 8%;
    }
    25%{
        top: 15%;
        left: 8%;
    }
    50%{
        top: 15%;
        left: 55%;
    }
    75%{
        top: 58%;
        left: 55%;
    }
    to{
        top: 58%;
        left: 8%;
    }
}
.services>div:nth-of-type(2){
    background-image: url("../img/pexels-cottonbro-3998389\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.cards{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}
.cards>div{
    width: 23%;
    height: 70vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 38px;
    position: relative;
    filter: brightness(.4);
    cursor: pointer;
    
}
.cards>div>div{
    width: 100%;
    background-color: rgba(163, 83, 10, 0.7);
    color: #fff;
    font-family: "Volkhov";
    font-weight: 400;
    font-size: 48px;
    height: 15vh;
    padding: 50px 0;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    bottom: -22%;
    
}
.cards>div:nth-child(1){
    background-image: url("../img/Rectangle\ 8.png");
    background-repeat: no-repeat;
}
.cards>div:nth-child(2){
    background-image: url("../img/Rectangle\ 12.png");
    background-repeat: no-repeat;
}
.cards>div:nth-child(3){
    background-image: url("../img/Rectangle\ 13.png");
    background-repeat: no-repeat;
}
.cards>div:nth-child(4){
    background-image: url("../img/Rectangle\ 9.png");
    background-repeat: no-repeat;
}
.cards>div:hover>div{
    transform: translateY(-100%);
    transition: ease-out .5s;        
}
.cards>div:hover {
    filter: brightness(1);
    transition: ease-out .2s; 
}
.contact{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    box-sizing: border-box;
    margin: 72px auto;
    width: 100%;
}
.contact>div{
    width: 48%;
}
.contact>div:nth-of-type(1){
    display: flex;
    flex-direction: column;
}
.form{
    padding: 35px 29px;
    box-sizing: border-box;
    background-color: #E5E5E5;
}
.form>form>div:first-child{
    display: flex;
    justify-content: space-between;
}
.form>form>div:first-child>div{
    width: 45%;
}
.form>form>div:first-child>div>input{
    width: 100%;
    height: 8vh;
    font-weight: 700;
    font-size: 36px;
}
.form>form>div:last-child{
    padding-top: 45px;
    box-sizing: border-box;
}
textarea{
    height: 209px;
    width: 100%;
    font-weight: 700;
    font-size: 36px;
}
iframe{
    width: 100%;
    height: 100%;
}
footer>div{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    box-sizing: border-box;
    
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
footer p{
    margin: 0;
}
footer>div>div>p>span{
    font-weight: 700;
    font-style: normal;
    
}
.h3{
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    margin-bottom: 55px;

}
footer ul>li{
    list-style: none;
    text-align: left;
}
footer a{
    text-decoration: none;
    color: #000;
}