body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: #E5E5E5;
}
section{
    display: flex;
    justify-content: center;
}
section>div{
    height: 926px;
    width: 428px;
    border-radius: 20px;
    overflow: hidden;
    margin: 42px;
    display: flex;
    flex-direction: column-reverse;
}
section>div:nth-child(1){
    background-image: url('../img/5aecfceadea94d6f988e8e0dee5bf941\ 2.png');
    background-repeat: repeat-y;
    padding: 11px 20px;
    box-sizing: border-box;
}
section>div:nth-child(1)>div{
    height: 396px;
    width: 388px;
    padding: 73px 60px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
section>div:nth-child(1)>div>p{
    font-weight: 600;
    font-size: 24px;
    line-height: 29.05px;
    color: #100233;
    padding: 0 29px;
    margin: 0;
    box-sizing: border-box; 
}
section>div:nth-child(1)>div>p+div{
    width: 30px;
    height: 6px;
    background-color: #7819A9;
    border-radius: 3px;
    transform: translateY(20px);
}
section>div:nth-child(1)>div>p+div+div{
    width: 70px;
    height: 70px;
    background-color: #8BB71E;
    border-radius: 35px;
    padding: 22px;
    box-sizing: border-box;
    box-shadow: 5px 0 0 #7819A9;
}
section>div:nth-of-type(2){
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: #fff;
}
section>div:nth-of-type(2)>div:nth-child(1){
    background-image: url('../img/pexels-mo-9454915\ 1.png');
    background-repeat: no-repeat;
    height: 425px;
    width: 408px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 22px;
    box-sizing: border-box;
}
section>div:nth-of-type(2)>div:nth-child(1)>div{
    height: 66px;
    width: 368px;
    background-color: rgba(0, 0, 0, .25);
    backdrop-filter: blur(5px);
    padding: 0 18px;
    box-sizing: border-box;
    border-radius: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section>div:nth-of-type(2)>div:nth-child(1)>div>span{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}
section>div:nth-of-type(2)>div:nth-child(1)>div>span+span{
    font-family: monospace;
}
section>div:nth-of-type(2)>div:nth-child(2){
    height: 89px;
    border: 1px solid rgba(223, 223, 223, .6);
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
section>div:nth-of-type(2)>div:nth-child(2)>div{
    padding: 12px;
    box-sizing: border-box;
}
section>div:nth-of-type(2)>div:nth-child(2)>div>p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 0;
    margin: 0;
}
section>div:nth-of-type(2)>div:nth-child(2)>div>p+p{
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #AAA2A2;
    padding: 0;
    margin: 0;
}
section>div:nth-of-type(2)>div:nth-child(3){
    display: flex;
    justify-content: space-between;
}
section>div:nth-of-type(2)>div:nth-child(3)>div:nth-child(1){
    position: relative;
}
section>div:nth-of-type(2)>div:nth-child(3)>div:nth-child(1)>img:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30px;
}
section>div:nth-of-type(2)>div:nth-child(3)>div:nth-child(1)>img:nth-child(3){
    position: absolute;
    top: 0;
    right:10px;
    bottom: 0;
    left: 60px;
}
section>div:nth-of-type(2)>div:nth-child(3)>div:nth-child(1)>img:nth-child(4){
    position: absolute;
    top: 0;
    right:10px;
    bottom: 0;
    left: 90px;
}
section>div:nth-of-type(2)>div:nth-child(3)>div:nth-child(1)>img:nth-child(5){
    position: absolute;
    top: 0;
    right:10px;
    bottom: 0;
    left: 120px  ;
}
section>div:nth-of-type(2)>div:nth-child(3)>div:nth-child(2){
    display: flex;
    align-items: center;
}
section>div:nth-of-type(2)>div:nth-child(3)>div:nth-child(2)>svg{
    margin-right: 5px;
}
section>div:nth-of-type(2)>div:nth-child(3)>div:nth-child(2)>span{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
section>div:nth-of-type(2)>div:nth-child(4){
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
section>div:nth-of-type(2)>div:nth-child(5){
    height: 38px;
    border: 1px solid #F9F9F9;
    border-radius: 11px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    box-sizing: border-box;
}
section>div:nth-of-type(2)>div:nth-child(5)>div:nth-child(1){
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
width: 150px;
}
section>div:nth-of-type(2)>div:nth-child(6)>p:nth-child(1){
    padding: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #C1B5B5;
}
section>div:nth-of-type(2)>div:nth-child(6)>p:nth-child(2){
    padding: 0;
    font-weight: 500;
    font-size: 12;
    line-height: 18px;
    color: #4A3A3A;
    width: 328px;
}
section>div:nth-of-type(2)>div:nth-child(7){
    display: flex; 
}
section>div:nth-of-type(2)>div:nth-child(7)>a{
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    background-color: #8BB71E;
    padding: 28px 158px;
    border-radius: 20px;
}